.footer{
    padding: 1rem 6rem;
    background: black;
    color: white;
    position: relative;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top h1{
 color:white;
 text-align: start;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}